<ActionBar title="ข้อมูลปริมาณการจราจร" class="action-bar">
</ActionBar>

<StackLayout class="page">
    <StackLayout class="page">
        <TextField #secondTx hint="กรอก Keyword (ภาษาอังกฤษ หรือ ตัวเลข)"  returnKeyType="done" (returnPress)="submit(secondTx.text)"></TextField>
    </StackLayout>
    <Button text="ค้นหา" (tap)="searchKeyword(secondTx.text)" style="background-color: rgb(52, 187, 228)"></Button>

    <ListView [items]="dataQuery" class="list-group">
        <ng-template let-item="item" let-i="index">
        <StackLayout StackLayout style = "padding: 20px;" >
            <Label [text]="[' จังหวัด']+[item.CHANGWAT]+[' - ']+[item.ENG_CHANG] " class="h3"></Label>
            <Label [text]="['      ']+[item.NAMET]"></Label>
            <Label [text]="['      ']+[item.NAMEE]"></Label>
            <Label [text]="['      ทางหลวงหมายเลข : ']+[item.ROUTE]"></Label>
            <Label [text]="['      รหัส สทล. :']+[item.DIV_NUM]"></Label>
            <Label [text]="['      กม.จุดสำรวจ :']+[item.KM1]"></Label>
            <Label [text]="['      รหัสแขวง : ']+[item.CODE]"></Label>
            <Label [text]="['      แขวงทางหลวง : ']+[item.DISTRICT]"></Label>
            <Label [text]="['      แขวงทางหลวง (ภาษาอังกฤษ) : ']+[item.ENG_DIST]"></Label>
            <Label [text]="['      ประเภทจุดสำรวจ : ']+[item.TYPE]"></Label>
            <Label class="h4" text="      ปริมาณรถ : "></Label>
            <Label [text]="['      ล้อเครื่องและจักรยานยนต์ : ']+[item.VEH2_T]+ '  คัน'"></Label>
            <Label [text]="['      รถยนต์นั่งไม่เกิน 7 คน : ']+[item.VEH3_T]+ '  คัน'"></Label>
            <Label [text]="['      รถยนต์นั่งเกิน 7 คน : ']+[item.VEH4_T]+ '  คัน'"></Label>
            <Label [text]="['      รถโดยสารขนาดเล็ก : ']+[item.VEH5_T]+ '  คัน'"></Label>
            <Label [text]="['      รถโดยสารขนาดกลาง : ']+[item.VEH6_T]+ '  คัน'"></Label>
            <Label [text]="['      รถโดยสารขนาดใหญ่  : ']+[item.VEH7_T]+ '  คัน'"></Label>
            <Label [text]="['      รถบรรทุกขนาดเล็ก  : ']+[item.VEH8_T]+ '  คัน'"></Label>
            <Label [text]="['      รถบรรทุกขนาด 2 เพลา (6 ล้อ)  : ']+[item.VEH9_T]+ '  คัน'"></Label>
            <Label [text]="['      รถบรรทุกขนาด 3 เพลา (10 ล้อ) : ']+[item.VEH10_T]+ '  คัน'"></Label>
            <Label [text]="['      รถพ่วง : ']+[item.VEH11_T]+ '  คัน'"></Label>
        </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
